---
layout: default
title: Vladimir Gamalian
---
<div>
<ul class="posts">
    {% for post in site.posts %}
      {% assign currentdate = post.date | date: "%Y" %}
      {% if currentdate != date %}
        <li class="years" id="y{{currentdate}}">{{ currentdate }}</li>
        {% assign date = currentdate %} 
      {% endif %}
        <li><span>{{ post.date | date_to_string }}</span> &raquo; <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></li>
    {% endfor %}	
  </ul>
</div>
<div>
  <a href="{{ site.baseurl }}/about/">about</a>
</div>
<div>
  <a class="zocial facebook" href="https://www.facebook.com/vladimir.gamalian">Me on Facebook</a>
  <a class="zocial github" href="https://github.com/vladimirgamalian">Me on github</a>
</div>
